@use "sass:color";
@use 'sass:map';

body {
  margin: 0;

  font-family: $font-family-sans-serif;
}

/* Font styles for all picture authorship attributions */
.attribution {
  font-size: .6rem;
  color: $blue;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100vw;
  height: 20vh;
  z-index: 5;

  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;

  &__title {
    margin-top: auto;
    margin-bottom: 0;

    font-size: 2.5rem;
    color: $main-font-color;

    text-shadow: $blue 1px 0 10px;

    // If width <= tablet
    @include addResponsive('tablet') {
      margin-inline: 5vw;

      font-size: 2rem;

      text-align: center;
    }

    /* Highlighted text inside of the header's title */
    &--highlight {
      font-family: $font-family-highlight;
      color: $yellow;

      text-shadow: $brown 1px 0 10px;
    }
  }

  &__author {
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: 1vh;
    margin-inline: .5vw;

    color: $blue;

    // If width <= tablet
    @include addResponsive('tablet') {
      margin-inline: 3vw;
    }
  }
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  // If width <= desktop
  @include addResponsive('desktop') {
    flex-direction: column;
  }
}

/* Every card holds info about touristic place */
.card {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $card-width;
  height: 80vh;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  // If width <= desktop
  @include addResponsive('desktop') {
    width: 100%;
    height: $card-height;
  }

  /* This div uncovers background and slides down when hovered */
  &__color-rectangle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    // If width <= desktop
    @include addResponsive('desktop') {
      flex-direction: row;

      transition-property: width;
    }

    /* Every card color div has a different color */
    &--beach { background-color: $yellow; }
    &--vulcano { background-color: $brown; }
    &--city { background-color: $blue; }
  }

  &__title-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    // If width <= desktop
    @include addResponsive('desktop') {
      margin-inline: auto;
    }
  }

  &__title,
  &__icon,
  &__down-arrow {
    color: $main-font-color;

    transition-property: font-size;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

    /* Card in the middle needs different color for title and icon */
    &--contrast {
      color: $yellow;
    }
  }

  &__icon {
    margin-top: 5%;

    font-size: 2.5rem;

    // If width <= tablet
    @include addResponsive('tablet') {
      font-size: 1.5rem;
    }

    // If tablet < width <= desktop
    @include addResponsive('desktop', 'tablet') {
      font-size: 2rem;
    }
  }

  &__title {
    margin-bottom: 5%;
    margin-inline: 10%;

    font-size: 2rem;

    text-align: center;

    // If width <= tablet
    @include addResponsive('tablet') {
      font-size: 1.2rem;
    }

    // If tablet < width <= desktop
    @include addResponsive('desktop', 'tablet') {
      font-size: 1.6rem;
    }
  }

  &__down-arrow {
    font-size: 1.5rem;

    animation-name: arrow-down-bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    // If width <= desktop
    @include addResponsive('desktop') {
      font-size: 1.2rem;

      margin-right: 2vw;

      animation-name: arrow-right-bounce;
    }
  }

  /* Every card has a different background image */
  &--beach {
    background-image: url(../images/beach.png);
  }
  &--vulcano {
    background-image: url(../images/vulcano.jpg);

  }
  &--city {
    background-image: url(../images/city.jpg);
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    max-width: 100%;
    max-height: 40%;

    padding-block: 10vh;
    padding-inline: 3vw;

    background: linear-gradient(to top, rgba(70 37 33 / 1), rgba(70 37 33 / 0));

    // If width <= desktop
    @include addResponsive('desktop') {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      // justify-content: flex-end;
    }
  }

  &__info {
    text-align: justify;
    color: $blue;

    // If width <= tablet
    @include addResponsive('tablet') {
      font-size: .7rem;
    }

    // If width <= desktop
    @include addResponsive('desktop') {
      width: 60%;

      padding-inline: 5%;
    }
  }

  &__author {
    // If width <= desktop
    @include addResponsive('desktop') {
      padding-inline: 5%;
    }
  }

  // Card is active when clicked/tapped
  &--active {
    .card__color-rectangle {
      // If width <= desktop
      @include addResponsive('desktop') {
        width: 30%;
      }
    }

    .card__icon {
      // If width <= tablet
      @include addResponsive('tablet') {
        font-size: 1.2rem;
      }

      // If tablet < width <= desktop
      @include addResponsive('desktop', 'tablet') {
        font-size: 1.8rem;
      }
    }

    .card__title {
      // If width <= tablet
      @include addResponsive('tablet') {
        font-size: 1rem;
      }

      // If tablet < width <= desktop
      @include addResponsive('desktop', 'tablet') {
        font-size: 1.2rem;
      }
    }
  }

  @media screen and (min-width: 1919px) {
    &:hover {
      .card__color-rectangle { height: 30%; }
      .card__icon { font-size: 2.2rem; }
      .card__title {
        font-size: 1.8rem;
        color: color.adjust($main-font-color, $lightness: 25%);

        &--contrast {
          color: color.adjust($yellow, $lightness: 25%);
        }
      }
    }
  }
}

// Animations for section arrow
@keyframes arrow-down-bounce {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes arrow-right-bounce {
  0% {
    transform: translateX(0%) rotate(-90deg);
  }

  50% {
    transform: translateX(-20%) rotate(-90deg);
  }

  100% {
    transform: translateX(0%) rotate(-90deg);
  }
}
