@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

$font-family-highlight: "Kablammo", system-ui;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$yellow: #ffce47;
$blue: #55DDE0;
$main-font-color: #462521;

$card-width: 100vw / 3;
